#titre
{
  background-color: #D3D3D3;
  text-align: center;
  font-family: Arial;
}

#"1gauche"
{
  background-color: #D3D3D3;
  text-align: center;
  font-family: Arial;
  length: 100px
  width: 50px
}

#"1droite"
{
  background-color: #D3D3D3;
  text-align: center;
  font-family: Arial;
  length: 100px
  width: 50px
}

#boite1
{
  display: flex;
  column-gap: 20px;
}
